/* Imported Fonts */
@import url("https://fonts.googleapis.com/css2?family=Alatsi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alatsi&family=Manjari&display=swap");
/*INDEX

1.Table Styling
2. Heading Style
3. ol + ul style
4. button styling
5. Footer Styling

*/

* {
  margin: 0;
  padding: 0;
  font-family: Alatsi, serif;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  background-color: #fff;
}
/* -------------- 1. Table Stylings --------------*/
table {
  border-collapse: collapse;
  border: black 5px solid;
  border-radius: 5px;
}

th,
td,
tr {
  margin: 5px;
  padding: 10px;
}
td {
  border: green 2px solid;
}

tr {
  border: dotted red;
}

td img {
  width: 100px;
  height: 100px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}
p {
  margin: 10px;
}
.paragraph {
  font-size: 20px;
  font-weight: 800;
}

.hidden {
  visibility: hidden;
}

a {
  color: rgb(199, 90, 1);
}

/* -------------- Heading --------------*/
#heading,
ul {
  cursor: pointer;
}

/* -------------- Button --------------*/

input[type="button"] {
  font-size: 20px;
  margin: 5px;
  padding: 5px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: 700;
}
input[type="button"]:hover {
  transform: scaleX(1.1) scaleY(1.1);
  box-shadow: 1px 2px 5px black;
}
ol {
  margin: 20px;
}
/* -------------- Footer --------------*/

footer {
  margin-top: 10px;
  padding: 10px;
  text-align: center;
  color: #111010;
  font-family: serif;
  background: #b4b4b4;
}
